.App {
  font-family: "Poppins", sans-serif;
}

@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext");

body {
  /*
  background-image: url("https://images.pexels.com/photos/891252/pexels-photo-891252.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
  min-height:100vh;
  */
  background-color: #d4d3d3;
  font-family: "Noto Sans", sans-serif;
}
